terraform.tfvars
terraform.tfstate.backup
.terraform
.terraform.d
.ssh
.gem

# xml config
#jenkins_home/config.xml
jenkins_home/github-plugin-configuration.xml
jenkins_home/hudson.model.UpdateCenter.xml
jenkins_home/hudson.plugins.git.GitTool.xml
jenkins_home/hudson.plugins.git.GitSCM.xml
jenkins_home/hudson.plugins.timestamper.TimestamperConfig.xml
jenkins_home/hudson.plugins.throttleconcurrents.ThrottleJobProperty.xml
jenkins_home/hudson.tasks.Mailer.xml
jenkins_home/hudson.tasks.Shell.xml
jenkins_home/hudson.triggers.SCMTrigger.xml
jenkins_home/javaposse.jobdsl.plugin.ExecuteDslScripts.xml
jenkins_home/jenkins.model.ArtifactManagerConfiguration.xml
jenkins_home/jenkins.model.DownloadSettings.xml
jenkins_home/jenkins.model.JenkinsLocationConfiguration.xml
#jenkins_home/javaposse.jobdsl.plugin.GlobalJobDslSecurityConfiguration.xml
#jenkins_home/jenkins.CLI.xml
jenkins_home/jenkins.security.QueueItemAuthenticatorConfiguration.xml
jenkins_home/jp.ikedam.jenkins.plugins.extensible_choice_parameter.ExtensibleChoiceParameterDefinition.xml
jenkins_home/jp.ikedam.jenkins.plugins.extensible_choice_parameter.GlobalTextareaChoiceListProvider.xml
jenkins_home/nodeMonitors.xml
jenkins_home/org.jenkinsci.plugins.pipeline.modeldefinition.config.GlobalConfig.xml
jenkins_home/org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
jenkins_home/queue.xml
jenkins_home/queue.xml.bak

# jenkins job
lastStable
lastSuccessful
nextBuildNumber
builds/
*workspace*

# others
jenkins_home/.bash_history
jenkins_home/.docker/
jenkins_home/.gitconfig
jenkins_home/.java/
jenkins_home/.owner
jenkins_home/.ssh/known_hosts
jenkins_home/*.log
jenkins_home/jenkins.install.InstallUtil.lastExecVersion
jenkins_home/jenkins.install.UpgradeWizard.state
jenkins_home/identity.key.enc
jenkins_home/init.groovy.d
jenkins_home/logs/
jenkins_home/packer-repo@tmp/
jenkins_home/plugins/
jenkins_home/plugins/*.bak
jenkins_home/secret.key
jenkins_home/secret.key.not-so-secret
jenkins_home/secrets/*
!jenkins_home/secrets/slave-to-master-security-kill-switch
jenkins_home/updates/
jenkins_home/userContent/
#jenkins_home/users/
jenkins_home/war/
jenkins_home/pipeline-lib-serving
*@tmp
.DS_Store
